<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Esewa payment gateway</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <br>
    <a th:href="@{/product/add-product}" class="btn btn-primary">Add product</a>
    <br>
    <br>
    <div class="card" style="width: 40rem;">
        <div class="card-body" th:each="product : ${products}">
            <h5 class="card-title" th:text="${product.name}"></h5>
            <hr>
            <p class="card-text" th:text="${product.description}">Some quick example text </p>
            <hr>
            <a th:href="@{'/product/'+${product.productId}}" class="btn btn-success">Buy now</a>
        </div>
    </div>
</div>
</body>
</html>